body, html {
	background-color: #EDEDED !important;
}

/*Style Portada*/
#portada{
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.bg-white{
	background-color: rgb(255, 255, 255);
	color: black;
}