body {
	background-color: #EDEDED !important;
}

/*Style Portada*/
#portada{
	position: relative;
	height: 100vh;
}

.bg-white, .bg-white:hover{
	background-color: rgb(255, 255, 255);
	color: black;
}

#portada .container{
	z-index: 1;
}

.bg-portada{
	position: absolute;
	height: 120vh;
    top: 2rem;
	width: 100%;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: scale(1.07)
}

.bold-700{
	font-weight: 700;
	font-size: 4.37rem;
}

.bold-500{
	font-weight: 500;
}

@media(min-width: 601px){
	.bg-portada{
		height: 100vh;
    	transform: scale(1.09)
   }
}
